# Git & CI
.git
.github
.gitignore

# macOS
.DS_Store

# Node & Svelte
node_modules
/package
/.svelte-kit

# Environment
.env
.env.*

# Vite temp files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Python
__pycache__
*.py[cod]
venv

# IDE & Editor
.idea

# Logs
*.log
npm-debug.log

# Datenbanken & Checkpoints
**/*.db
.ipynb_checkpoints

# Builds, Docs & Uploads
docs
kubernetes
build
backend/data/*
uploads
_old
_test
